<?xml version="1.0" encoding="UTF-8" ?>
<html>
	<head>
		<style type="text/css">
		
			.main-box {
				margin-top: 100px;
				margin-left: auto;
				margin-right: auto;
				border: 1px solid #aaa;
				padding: 10px;
				width: 300px;
				background-color: #ddd;
			}
			
			.login-button {
				margin-top: 20px;
				width: 100%;
			}
		
		</style>
	</head>
	<body>
		<div class="main-box">
			<div>This is the default login page. It does not ask for any credentials -- <b>do not use this page on live servers!</b></div>
			<form wicket:id="form">
				<input type="submit" value="Login" class="login-button" />
			</form>
		</div>
	</body>
</html>
