<?xml version="1.0" encoding="UTF-8" ?>
<html>
	<body>
		<wicket:panel>
			<div class="alert alert-warning">
				<div class="text-center">
					<h3>Warning</h3>
					<p><strong>This area is for nerds only!</strong></p>
					<p>
						Seriously, if you don't know what a data schema is, or
						if you have never heard of JSON, then you should not be here because you'll likely break things.
					</p>
					<p>
						Are you still sure you want to go here?
					</p>
				</div>
				<br />
				<div class="text-center">
					<a wicket:id="link" class="btn btn-primary btn-lg">Yes, I know exactly what I'm doing.</a>
				</div>
			</div>
		</wicket:panel>
	</body>
</html>
