/web-ide/bin/
/web-ide-plugin/bin/
/webapp.admin/bin/
/webapp.admin-customization/bin/
/webapp.admin-demo/bin/
/webapp.admin.test/bin/
/webapp.api/bin/
/webapp.api-demo/bin/
/webapp.api.test/bin/
/webapp.common/bin/
/webapp.common.test/bin/
/webapp.reporting/bin/
/webapp.test/bin/
/webapp.tools/bin/
/webapp.wicket/bin/
/mobile-showcase/bin/
/jtex/bin/
/jtex/texmf/fonts/
/pixel/bin/
.DS_Store
/name.martingeisse.application-template/bin/
/name.martingeisse.application-template/target/
/name.martingeisse.common/bin/
/name.martingeisse.common/target/
/name.martingeisse.image/bin/
/name.martingeisse.image/target/
/name.martingeisse.miner-client/bin/
/name.martingeisse.miner-client/target/
/name.martingeisse.miner-server/bin/
/name.martingeisse.miner-server/target/
/name.martingeisse.sql-servlet/bin/
/name.martingeisse.sql-servlet/target/
/name.martingeisse.stackd-server/bin/
/name.martingeisse.stackd-server/target/
/name.martingeisse.http-api-server/bin/
/name.martingeisse.http-api-server/target/
/name.martingeisse.jetty/bin/
/name.martingeisse.jetty/target/
/name.martingeisse.miner-common/bin/
/name.martingeisse.miner-common/target/
/name.martingeisse.servlet-httpclient/bin/
/name.martingeisse.servlet-httpclient/target/
/name.martingeisse.stackd-client/bin/
/name.martingeisse.stackd-client/target/
/name.martingeisse.wicket/bin/
/name.martingeisse.wicket/target/
/name.martingeisse.httpclient/bin/
/name.martingeisse.httpclient/target/
/name.martingeisse.json/bin/
/name.martingeisse.json/target/
/name.martingeisse.miner-launcher/bin/
/name.martingeisse.miner-launcher/target/
/name.martingeisse.sql/bin/
/name.martingeisse.sql/target/
/name.martingeisse.stackd-common/bin/
/name.martingeisse.stackd-common/target/
/nname.martingeisse.phunky/bin/
/name.martingeisse.phunky/target/
/name.martingeisse.miner-client/client.log
/name.martingeisse.miner-server/server.log
/name.martingeisse.stackerspace-common/bin/
/name.martingeisse.stackerspace-common/target/
/name.martingeisse.stackerspace-server/bin/
/name.martingeisse.stackerspace-server/target/
/name.martingeisse.stackerspace-server/server.log
/name.martingeisse.stackerspace-client/bin/
/name.martingeisse.stackerspace-client/target/
/name.martingeisse.stackerspace-client/client.log
/name.martingeisse.papyros/bin/
/name.martingeisse.papyros/target/
/name.martingeisse.papyros/papyros.log
/hackathon-2014-08-02/bin
/hackathon-2014-08-02/target
