/web-ide/bin/
/web-ide-plugin/bin/
/webapp.admin/bin/
/webapp.admin-customization/bin/
/webapp.admin-demo/bin/
/webapp.admin.test/bin/
/webapp.api/bin/
/webapp.api-demo/bin/
/webapp.api.test/bin/
/webapp.common/bin/
/webapp.common.test/bin/
/webapp.reporting/bin/
/webapp.test/bin/
/webapp.tools/bin/
/webapp.wicket/bin/
/mobile-showcase/bin/
/jtex/bin/
/jtex/texmf/fonts/
/pixel/bin/
.DS_Store
/xname.martingeisse.common/bin/
/xname.martingeisse.image/bin/
/xname.martingeisse.miner-client/bin/
/xname.martingeisse.miner-server/bin/
/xname.martingeisse.sql-servlet/bin/
/xname.martingeisse.stackd-server/bin/
/xname.martingeisse.http-api-server/bin/
/xname.martingeisse.jetty/bin/
/xname.martingeisse.miner-common/bin/
/xname.martingeisse.servlet-httpclient/bin/
/xname.martingeisse.stackd-client/bin/
/xname.martingeisse.wicket/bin/
/xname.martingeisse.httpclient/bin/
/xname.martingeisse.json/bin/
/xname.martingeisse.miner-launcher/bin/
/xname.martingeisse.sql/bin/
/xname.martingeisse.stackd-common/bin/
