
body {
	margin: 0px;
	padding: 0px;	
	background-color: #bbb;
	font-family: Helvetica, Arial;
}

ul {
	overflow: hidden;
	margin-top: 5px;
	padding-left: 25px;
}

tr.even {
	background-color: #fff;
}

tr.odd {
	background-color: #ddd;
}

.outer-page-container {
	width: 1000px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	bottom: 0px;
}

.top-navigation-bar {
	margin-bottom: 10px;
	border-bottom: 1px solid #8080ff;
	background-color: #c0c0ff;
}

.top-navigation-bar > * {
	display: inline-block;
	padding: 5px;
	width: 100px;
	text-align: center;
}

.top-navigation-bar a {
	text-decoration: none;
	color: blue;
}

.left-navigation-bar {
	float: left;
	margin: 5px;
	padding: 5px;
	width: 200px;
	border: 1px solid #8080ff;
	background-color: #c0c0ff;
}

.inner-page-container {
	margin-top: 20px;
	margin-left: 230px;
	margin-right: 10px;
}

.data-grid {
	border-collapse: collapse;
	background-color: #e0e0ff;
}

.data-grid tr {
}

.data-grid td {
	border: 1px solid #aaa;
}

.paging-navigator a, .paging-navigator em {
	display: inline-block;
	margin: 5px;
	border: 1px solid #8080ff;
	padding: 2px;
	min-width: 20px;
	text-align: center;
	text-decoration: none;
}

.paging-navigator a, .paging-navigator em {
	background-color: #c0c0ff;
}

.paging-navigator .goto em {
	background-color: #c0ffc0;
}

.error-box {
	margin: 3px 0px;
	border: 1px solid #f00;
	padding: 5px;
	background-color: #fcc;
	background-image: url("/wicket/resource/name.martingeisse.wicket.icons.silk.Dummy/exclamation.png");
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.error-box > div {
	margin-left: 25px;
}

.warning-box {
	margin: 3px 0px;
	border: 1px solid #f80;
	padding: 5px;
	background-color: #ffa;
	background-image: url("/wicket/resource/name.martingeisse.wicket.icons.silk.Dummy/error.png");
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.warning-box > div {
	margin-left: 25px;
}

.info-box {
	margin: 3px 0px;
	border: 1px solid #44f;
	padding: 5px;
	background-color: #ccf;
	background-image: url("/wicket/resource/name.martingeisse.wicket.icons.silk.Dummy/information.png");
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

.info-box > div {
	margin-left: 25px;
}

.disabled-link {
	color: black;
}

.server-to-client-data {
	display: none;
}

.data-table-container {
	padding: 1px;
}

.data-table-container .top1 {
	height: 40px;
}

.data-table-container .top2 {
}

.data-table-container .bottom {
}
