<?xml version="1.0" encoding="UTF-8" ?>
<html>
<head>
</head>
<body>
	<wicket:extend>

		<script type="text/javascript">
			$(document).ready(function() {
				var myTable = $("#myTable").dataTable();
			});
		</script>

		<table id="myTable">
			<thead>
				<tr>
					<th>Foo</th>
					<th>Bar</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>111</td>
					<td>222</td>
				</tr>
				<tr>
					<td>333</td>
					<td>444</td>
				</tr>
			</tbody>
		</table>

	</wicket:extend>
</body>
</html>
