#
# toplevel.ucf -- ECO32 user constraints for S3E starter kit board
#

#
# clock and reset
#
NET "clk_in"
    PERIOD = 20.0ns HIGH 40%;
NET "clk_in"
    LOC = "C9"  | IOSTANDARD = LVCMOS33;
NET "reset_in"
    LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN;

#
# prohibit VREF pins
#
CONFIG PROHIBIT = D2;
CONFIG PROHIBIT = G4;
CONFIG PROHIBIT = J6;
CONFIG PROHIBIT = L5;
CONFIG PROHIBIT = R4;

#
# VGA display
#
NET "vga_hsync"
    LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "vga_vsync"
    LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "vga_r"
    LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "vga_g"
    LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "vga_b"
    LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
