<?xml version="1.0" encoding="UTF-8" ?>
<html>
	<body>
		<wicket:extend>
			<div>&laquo; <a wicket:id="templateLink">Template</a></div>
			<div class="page-header">
				<h1>Edit Template</h1>
			</div>
			<form wicket:id="form">
				<textarea wicket:id="textarea" />
				<input type="submit" />
			</form>
			<br />
			<ul wicket:id="compilerMarkersContainer">
				<li wicket:id="compilerMarkers">
					<span wicket:id="icon" />
					<span wicket:id="message" />
				</li>
			</ul>
			<br />
			<h2>Preview:</h2>
			<iframe wicket:id="testRenderIframe" />
		</wicket:extend>
	</body>
</html>
