<?xml version="1.0" encoding="UTF-8" ?>
<html>
<body>
	<wicket:extend>
		<div>
			&laquo; <a wicket:id="templateFamilyLink">Template family</a>
		</div>
		<div class="page-header">
			<h1>
				Template family: <span wicket:id="templateFamilyKey"
					style="font-family: monospace;"></span>
			</h1>
			<h1>
				Language: <span wicket:id="languageKey"
					style="font-family: monospace;"></span>
			</h1>
		</div>
		
		
		
		
		<br /><br /><br /><hr /><hr /><br /><br /><br />
		
		<div wicket:id="tabTest" />
		
		<wicket:fragment wicket:id="tabTestBody1">BODY 1</wicket:fragment>
		<wicket:fragment wicket:id="tabTestBody2">BODY 2</wicket:fragment>
		<wicket:fragment wicket:id="tabTestBody3a">BODY 3-A</wicket:fragment>
		<wicket:fragment wicket:id="tabTestBody3b">BODY 3-B</wicket:fragment>
		<wicket:fragment wicket:id="tabTestBody3c">BODY 3-C</wicket:fragment>

		<br /><br /><br /><hr /><hr /><br /><br /><br />





		
		<div>
			<a wicket:id="editLink">edit</a>
		</div>
		<div>
			<a wicket:id="renderLink">render</a>
		</div>
	</wicket:extend>
</body>
</html>
