<?xml version="1.0" encoding="UTF-8" ?>
<html>
<wicket:head>
	<style type="text/css">

		.CodeMirror {
			border: 1px solid #444;
		}
		
	</style>
</wicket:head>
<body>
	<wicket:extend>
		<div>
			&laquo; <a wicket:id="templateFamilyLink">Template family</a>
		</div>
		<div class="page-header">
			<h1>
				<div><span wicket:id="templateFamilyName" /> – <span wicket:id="languageKey" style="font-family: monospace;" /></div>
				<div style="font-size: 0.5em; font-family: monospace" wicket:id="templateFamilyKey" />
			</h1>
		</div>
		<div wicket:id="tabs" />
		
		<!-- preview -->
		<wicket:fragment wicket:id="tabPreview">
			<iframe wicket:id="iframe" />
		</wicket:fragment>
		
		<!-- edit -->
		<wicket:fragment wicket:id="tabEdit">
			<div class="col-xs-12 col-lg-6">
				<form wicket:id="form">
					<textarea wicket:id="textarea" />
					<input type="submit" />
				</form>
			</div>
			<div class="col-xs-12" id="compilerMarkersParent">
				<ul wicket:id="compilerMarkers" />
			</div>
			<div class="col-xs-12 col-lg-6" id="previewParent">
				<h2>Preview:</h2>
				<iframe wicket:id="previewIframe" style="width: 100%" />
			</div>
			<script type="text/javascript">
				$(function() {
					function place() {
						var w = $(document).width();
						var small = (w < 1200);
						var id1 = (small ? 'previewParent' : 'compilerMarkersParent');
						var id2 = (small ? 'compilerMarkersParent' : 'previewParent');
						$('#' + id1).insertAfter($('#' + id2));
					}
					var timerRunning = false;
					$(window).resize(function() {
						if (!timerRunning) {
							timerRunning = true;
							setTimeout(function() {
								timerRunning = false;
								place();
							}, 500);
						}
					});
					place();
				});
			</script>
			
			<br /><br />
		</wicket:fragment>
		
	</wicket:extend>
</body>
</html>
